# KiCad local/user-specific files
*.kicad_prl
*.kicad_pro-bak
~*.lck

# Archives
*.zip

#Mac specific
.DS_Store
.AppleDouble
.LSOverride
.history
hardware/mechanical/vendor/Waveshare/ESP32-P4-NANO/ESP32-P4-NANO-20260331.ai
hardware/mechanical/vendor/Waveshare/ESP32-P4-NANO/ESP32-P4-NANO-20260331.svg
